---
# tasks file for installing dependencies
- name: Install Google Chrome using Chocolatey
  win_chocolatey:
    name: googlechrome
    state: latest

- name: Install Chrome Remote Desktop using Chocolatey
  win_chocolatey:
    name: chrome-remote-desktop-host
    state: latest

- name: Install 7-Zip using Scoop
  community.windows.win_scoop:
    name: 7zip
    global: true

- name: Install Notepad++ using Scoop
  community.windows.win_scoop:
    name: notepadplusplus
    global: true

- name: Install .NET 8.0 Runtime using Chocolatey
  win_chocolatey:
    name:
    - dotnet-8.0-aspnetruntime
    - dotnet-8.0-runtime
    state: latest

- name: Add the games bucket
  community.windows.win_scoop_bucket:
    name: games

- name: Install GOG Galaxy using Scoop
  community.windows.win_scoop:
    name: goggalaxy
    global: true