---
# tasks file for installing dependencies
- name: Install Google Chrome using Chocolatey
  win_chocolatey:
    name: googlechrome
    state: latest

- name: Install Chrome Remote Desktop using Chocolatey
  win_chocolatey:
    name: chrome-remote-desktop-host
    state: latest

- name: Install 7-Zip using Chocolatey
  win_chocolatey:
    name: 7zip
    state: latest

- name: Install Notepad++ using Chocolatey
  win_chocolatey:
    name: notepadplusplus
    state: latest

- name: Install .NET 8.0 Runtime using Chocolatey
  win_chocolatey:
    name:
    - dotnet-8.0-aspnetruntime
    - dotnet-8.0-runtime
    state: latest

- name: Install GOG Galaxy using Chocolatey
  win_chocolatey:
    name: goggalaxy
    state: latest