---
# tasks file for installing Visual C++ Redistributables
- name: Install Visual C++ Redistributable 2015-2022 using Scoop
  community.windows.win_scoop :
    name: vcredist
    global: true

- name: Install Visual C++ Redistributable 2013 using Scoop
  community.windows.win_scoop :
    name: vcredist2013
    global: true

