---
# tasks file for installing VirtIO drivers
- name: Check if VirtIO ISO already exists
  ansible.windows.win_stat:
    path: "{{ virtio_iso_dest }}"
  register: virtio_iso_stat

- name: Windows | Download VirtIO ISO
  ansible.windows.win_get_url:
    url: '{{ virtio_iso_url }}'
    dest: "{{ virtio_iso_dest }}"
    force: "{{ virtio_update }}"
    follow_redirects: all
  when: not virtio_iso_stat.stat.exists

- name: Windows | Mount VirtIO ISO
  community.windows.win_disk_image:
    image_path: "{{ virtio_iso_dest }}"
    state: present
  register: disk_image_out
  changed_when: false

- name: Windows | Install VirtIO
  ansible.windows.win_package:
    path: '{{ disk_image_out.mount_paths[0] }}virtio-win-gt-x64.msi'
    state: present
  async: 120
  poll: 0

- name: Windows | Wait for VirtIO installation to complete
  ansible.builtin.wait_for_connection:
    delay: 60
    timeout: 300

- name: Windows | Install QEMU Guest Agent and Spice Agent
  ansible.windows.win_package:
    path: '{{ disk_image_out.mount_paths[0] }}virtio-win-guest-tools.exe'
    arguments: /install /passive /norestart
    state: present

- name: Windows | Unmount virtio-win.iso
  community.windows.win_disk_image:
    image_path: "{{ virtio_iso_dest }}"
    state: absent
  changed_when: false

- name: Windows | Reboot host
  ansible.windows.win_reboot: